name: Deploy to ECS (Fargate)

on:
  push:
    branches:
      - main

env:
  AWS_REGION: eu-west-3
  ECR_REPO_API: movie-recommender
  ECR_REPO_UI: streamlit-ui
  ECS_CLUSTER: group2-MLOpsCluster
  ECS_TASK_DEFINITION: movie-recommender-task
  ECS_CONTAINER_API: movie-api
  ECS_CONTAINER_UI: streamlit-ui

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build and push API image
      run: |
        docker build -t $ECR_REPO_API .
        docker tag $ECR_REPO_API:latest ${{ steps.login-ecr.outputs.registry }}/$ECR_REPO_API:latest
        docker push ${{ steps.login-ecr.outputs.registry }}/$ECR_REPO_API:latest

    - name: Build and push Streamlit image
      run: |
        docker build -f Dockerfile.streamlit -t $ECR_REPO_UI .
        docker tag $ECR_REPO_UI:latest ${{ steps.login-ecr.outputs.registry }}/$ECR_REPO_UI:latest
        docker push ${{ steps.login-ecr.outputs.registry }}/$ECR_REPO_UI:latest

    - name: Force new ECS deployment
      run: |
        aws ecs update-service \
          --cluster $ECS_CLUSTER \
          --service movie-recommender-service \
          --force-new-deployment
